/* ===  Profile Settings  Main Section === */
.account-setting { padding:20px; color:#1e2327; font-family: 'open sans';}
.account-setting-block { width:100%; display: inline-block; }
.hpanel { width:100%; display: inline-block; }
.account-setting-block h3 { color: #1e2327; }
.form-group label {color:#1e2327; width:100%;}
.form-group label.btn.btn-primary { width:auto;color:#fff; background-color: #1e2327; border-color:#1e2327; }
.avatar-image { height: 100px; width: 100%; position: relative;margin: 4px 0px 20px 0px;border: 2px dashed #ccc; display:block;text-align:center;display:inline-block;}
.avatar-image img { height: 100%; max-width: 100%; position: relative; padding: 5px; }
.submit_btn { width:100%; text-align: left; position: relative; display: inline-block; margin: 20px 15px;}
.submit_btn button.mat-button { color:#fff; background-color: #1284ee; }


:host /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background { background-color: #1284ee; }
:host /deep/ .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { background-color: #1284ee; }
:host /deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { background-color: #1284ee; }
:host /deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle { background-color: #fff; }
:host /deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color:#1284ee; }
:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-underline { background-color: transparent; }
:host /deep/ .mat-form-field.mat-focused .mat-form-field-ripple { background-color: transparent; }
:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix { padding: .4375em 0; border: 1px solid #ced4da; padding: 14px; border-radius: 4px;}
:host /deep/ .mat-form-field-type-mat-select .mat-form-field-label { padding:14px 10px;}
:host /deep/ .mat-form-field { width:100%; }
:host /deep/ .mat-radio-button { margin:0px 5px; }


:host /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { background-color: #1284ee; }
:host /deep/ .mat-form-field-appearance-outline .mat-form-field-infix { padding: 0.5em 0 0.5em 0; }
:host /deep/ .mat-form-field-label-wrapper { top: -1.4em; padding-top: .5em; }
:host /deep/ .mat-form-field-wrapper { padding-bottom:0px; }
:host /deep/ .mat-form-field { width:100%; margin-top:10px;}
:host /deep/ .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick { color:#1284ee; }
:host /deep/ .mat-focused .mat-form-field-label { color:#1284ee; font-size:16px; }
:host /deep/ .mat-checkbox-inner-container { width:16px; height:16px; }
:host /deep/ input.mat-input-element { color:#34474f; margin-bottom: 5px; }


:host /deep/ .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
:host /deep/ .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label { display: none; }



:host /deep/ .change-password .change-password-from form {
    width: 100%;
}
:host/deep/ .change-password-from .submit_btn{width: 100%;text-align: left; position: relative; display: inline-block; margin: 20px 15px; }
:host/deep/  .change_password_block .change-password{padding: 10px 0px 10px;}
.settings_last_block{
	padding-top:57px;
}
:host/deep/ .account-setting-block .change-password-from{padding: 0px 0px; }
:host/deep/ .mat-radio-group .mat-radio-button:first-child {margin-left: 0px; }
:host/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0;
}
:host/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #3f51b5;
}
.table_loader{
    display: inline-block;
    margin-left: 15px;
    margin-top: 7px;
    vertical-align: top;
}
.table_loader circle {
    display:inline-block;
}
.table_loader .mat-spinner.mat-progress-spinner.mat-primary.mat-progress-spinner-indeterminate-animation {
    display: inline-block;
}
div{
    font-family:'open sans';
}
div a{
    text-decoration:none;
    color:inherit;
}
::ng-deep button.mat-icon-button {
    outline: none !important;
}
/* ===  Media queries between 992px and 1200px === */
@media(min-width:992px) and (max-width:1200px){
:host/deep/ .settings_last_block {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
:host/deep/  .mat-radio-button {
    margin: 0px 5px 0px 0px;
    font-size: 13px;
}
.account-setting-block h3,.change-password h3{
    font-size: 20px;
}
.change-password .hpanel h3{
    font-size: 20px;
}
}
/* ===  Media queries below 991px === */
@media(max-width:991px){
:host/deep/ .change-password-from .submit_btn {
    margin: 0;
}
:host/deep/ .settings_last_block {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 15px;
}
.settings_last_block .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
:host/deep/ .submit_btn {
    padding: 8px 15px !important;
    margin:0px;
}
}