<!-- CHANGE PASSWORD BLOCK START -->
<section class="change-password">
	<div class="account-setting-block">  

		<div class="hpanel">
			<div class="pull-left">
				<h3>Change Password</h3>
			</div>
		</div>

		<div class="change-password-from">
			<div class="row">
				<form [formGroup]="changepasswordForm" (ngSubmit)="changepasswordSubmit(changepasswordForm.value)">

				<ng-template [ngIf]="ismessage"><div class="alert alert-danger" role="alert">{{errormessage}}</div></ng-template>
      			<ng-template [ngIf]="issuccess"><div class="alert alert-success" role="alert">{{successmessage}}</div></ng-template>


				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<mat-form-field appearance="outline">
							<mat-label>Current Password</mat-label>   
							<input matInput type="password" placeholder="Enter Current Password" formControlName="old_password" required>
						</mat-form-field>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<mat-form-field appearance="outline">
							<mat-label>New Password</mat-label>   
							<input matInput type="password" placeholder="Enter New Password" formControlName="new_password" required>
						</mat-form-field>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<mat-form-field appearance="outline">
							<mat-label>Confirm Password</mat-label>   
							<input matInput type="password" placeholder="Enter Confirm Password" formControlName="conf_password" required>
						</mat-form-field>
					</div>
				</div>

				<div class="submit_btn">
					<button mat-button mat-raised-button type="submit" [disabled]="isbuttondisable" >UPDATE</button>
				</div>

				</form>
			</div>
		</div>
	</div>
</section>
<!-- CHANGE PASSWORD BLOCK END -->